footer.footer
  .footer__container
    .footer__brand
      .font-w-medium.font-s-18-a © «GOLD LABBEAU», 2024
      a.footer__privacy.font-s-16-a(href="#" data-remodal-target="privacy").agree-privacy Политика конфиденциальности
    img.footer__logo(src="images/logo.png" loading="lazy" width="570" height="60" alt="logo")
    a.footer__privacy-mobile.font-s-16-a(href="#" data-remodal-target="privacy").agree-privacy Политика конфиденциальности
    .footer__connection
      a(href="tel:+79999999999")
        img.footer__connection-icon(src="images/connection-icon.svg" loading="lazy" width="12" height="12" alt="icon")
      include ../components/phone-number.pug
      //- .footer__call-me.btn.btn--call-me(data-remodal-target="modal-form-call-me") Заказать звонок
