section.reasons-section
  .wrapper
    .reasons-section__container
      h2.reasons-section__title
        span.reasons-section__title-inner.font-w-p-italic.font-s-180.color-gradient 5
        span.font-w-m-light.font-s-70.text-up причин открыть бизнес
      .reasons-section__sub-title
        span.font-w-p-italic.font-s-60.color-gradient по нашей франшизе
      .swiper-bullet
        .reasons-section__cards.swiper-wrapper
          .reasons-section__card.swiper-slide
            img.reasons-section__card-img(src="images/reasons-section-card-img-1.jpg" loading="lazy" width="672" height="470" alt="image")
            .reasons-section__card-title.font-w-regular.font-s-28.color-gold Опытные партнёры
            .font-s-18
              | Наша команда уже 20 лет на рынке,
              br
              | за это время мы обучили уже сотни
              br
              | учеников и разобрались во всех
              br
              | нюансах этой ниши, которым
              br
              | обучим вас.
          .reasons-section__card.swiper-slide
            img.reasons-section__card-img(src="images/reasons-section-card-img-2.jpg" loading="lazy" width="672" height="470" alt="image")
            .reasons-section__card-title.font-w-regular.font-s-28.color-gold Бизнес-модель
            .font-s-18
              | Вы получите проверенную бизнес-
              br
              | модель, которая уже доказала свою
              br
              | эффективность и легко начнете
              br
              | зарабатывать сразу после
              br
              | открытия.
          .reasons-section__card.swiper-slide
            img.reasons-section__card-img(src="images/reasons-section-card-img-3.jpg" loading="lazy" width="672" height="470" alt="image")
            .reasons-section__card-title.font-w-regular.font-s-28.color-gold Сильный маркетинг
            .font-s-18
              | Мы создадим для вас фирменные
              br
              | соц.сети и будем вести и
              br
              | продвигать их в 1-ый месяц работы
              br
              | бизнеса+предоставим рекламные
              br
              | материалы сети.
          .reasons-section__card.swiper-slide
            img.reasons-section__card-img(src="images/reasons-section-card-img-4.jpg" loading="lazy" width="672" height="470" alt="image")
            .reasons-section__card-title.font-w-regular.font-s-28.color-gold Фирменное обучение
            .font-s-18
              | Подготовим ваших специалистов к
              br
              | работе, передадим Базу знаний и
              br
              | предоставим специальные условия
              br
              | на приобретения оборудования.
          .reasons-section__card.swiper-slide
            img.reasons-section__card-img(src="images/reasons-section-card-img-5.jpg" loading="lazy" width="672" height="470" alt="image")
            .reasons-section__card-title.font-w-regular.font-s-28.color-gold Быстрый старт
            .font-s-18
              | Вы будете действовать при
              br
              | постоянной поддержке нашей
              br
              | команды и запустите все
              br
              | процессы вашего салона
              br
              | красоты всего за 56 дней.
        .bullet-pagination.bullet-pagination--right
      .reasons-section__bottom
        img.reasons-section__bottom-img(src="images/reasons-section-bottom-img.png" loading="lazy" width="716" height="778" alt="image")
        img.reasons-section__bottom-icon(src="images/reasons-section-bottom-icon.svg" loading="lazy" width="44" height="44" alt="icon")
        .reasons-section__bottom-title.font-w-medium.font-s-24
          | Получите подробный план 
          br
          | открытия бизнеса
        button.btn.reasons-section__btn(data-remodal-target="modal-form-plan") Получить
