section.start-section
  .wrapper
    .start-section__container
      h2.start-section__title.font-w-m-light.font-s-70.text-up Запустите бизнес в одном
      .start-section__sub-title
        span.font-w-p-italic.font-s-60.color-gradient из двух форматов
      .swiper-bullet
        .start-section__cards.swiper-wrapper
          .start-section__card.swiper-slide
            .start-section__card-wrapper
              .start-section__card-inner
                .font-w-regular.font-s-36.text-up.color-gold Мини
                .start-section__card-sub-title
                  img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="18" height="18" alt="icon")
                  .font-s-18 Площадь салона:
                .font-w-semi-bold.font-s-24-a от 12 кв.м
                img.start-section__card-img(src="images/start-section-card-img-1.png" loading="lazy" width="300" height="300" alt="image")
                .font-s-16 Получите подробное описание <br> формата в 1 клик
                button.btn.start-section__btn(data-remodal-target="modal-form-format") Получить
          .start-section__card.swiper-slide
            .start-section__card-wrapper
              .start-section__card-inner
                .font-w-regular.font-s-36.text-up.color-gold Стандарт
                .start-section__card-sub-title
                  img.start-section__card-icon(src="images/start-section-card-icon.svg" loading="lazy" width="18" height="18" alt="icon")
                  .font-s-18 Площадь салона:
                .font-w-semi-bold.font-s-24-a от 30 кв.м
                img.start-section__card-img(src="images/start-section-card-img-2.png" loading="lazy" width="300" height="300" alt="image")
                .font-s-16 Получите подробное описание <br> формата в 1 клик
                button.btn.start-section__btn(data-remodal-target="modal-form-format") Получить
        .bullet-pagination
