section.thanks-section
  .thanks-section__container
    h1.thanks-section__title.font-w-m-light.font-s-42.text-up.color-gold
      | НАШИ МЕНЕДЖЕРЫ УЖЕ ЗАНИМАЮТСЯ 
      br
      | ВАШЕЙ ЗАЯВКОЙ
    p.thanks-section__inner-text.font-w-medium.font-s-24
      | Мы свяжемся с Вами в ближайшее время
    a.btn(href="index.html") Вернуться на главную
